@model TheatreWebApplication.Session

@{
    ViewData["Title"] = "Подробиці про виставу";
}

<h1>Подробиці про виставу</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Act)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Act.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку вистав</a>
</div>
